.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 26, 26);
    padding: 10px;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.logo{
    margin-right: 120vh;
}

.item{
    margin-right: 1em;
}

.item > a{
    color: azure;
    text-decoration: none;
}

.item > a:hover{
    color: darkgoldenrod;
}